* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d2545;
  // color: #6f7389;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.container {
  width: 800px;
  padding: 50px 50px;
  margin: auto;
  background-color: #242e4c;
  border-radius: 20px;
}
#manager-head {
  color: #d1d1d1;
  nav {
    display: flex;
    margin-bottom: 30px;
    i {
      line-height: 1.7;
      margin-right: 10px;
    }
  }
  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6f7389;
    #search-bar {
      border: 2px solid #1d2545;
      border-radius: 5px;
      padding: 10px 10px;
      margin: 30px 0;
      i {
        cursor: pointer;
        margin-right: 10px;
        transform: scale(1);
        transition: transform 0.2s ease, color 0.2s ease;
        &:hover {
          transform: scale(1.2);
          color: #fff;
        }
      }
      input {
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #fff;
        &:focus {
          outline: none;
        }
      }
    }
    #filter {
      cursor: pointer;

      color: #d1d1d1;
      border: 2px solid #1d2545;
      padding: 10px 20px;
      margin: 10px 0;
      border-radius: 5px;

      position: relative;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: #6f7389;
      }
      &::after {
        content: '3';
        position: absolute;
        right: -14px;
        top: -14px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        background-color: #d6a8b7;
      }
    }
  }
}
#manager-body {
  text-align: left;
  table {
    color: #d1d1d1;
    th,
    td {
      min-width: 60px;
      padding: 20px 0 20px 30px;
    }
    thead {
      tr th {
        padding-bottom: 10px;
        &:first-of-type {
          border-radius: 10px 0 0 10px;
        }
        &:last-of-type {
          border-radius: 0 10px 10px 0;
        }
      }
    }
    tbody {
      tr {
        background-color: #1d2545;
        border-bottom: 5px solid #242e4c;
        &:hover {
          background-color: #546484;
          td {
            &:last-of-type i {
              opacity: 1;
            }
          }
        }
        td {
          position: relative;
          i {
            padding-right: 10px;
            &.fa-circle {
              font-size: 10px;
            }
          }

          &:first-of-type {
            border-radius: 10px 0 0 10px;
          }
          &:last-of-type {
            border-radius: 0 10px 10px 0;
          }
          &:last-of-type i {
            cursor: pointer;
            opacity: 0;
          }

          &:first-of-type::after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 5px;
            height: auto;
            background-color: #ccc;
            border-radius: 20px 0 0 20px;
          }
          &:last-of-type {
            text-align: right;
            i {
              padding: 0 20px;
              transform: scale(1);
              transition: transform 0.2s ease;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
        &.priority-200 {
          td:first-of-type:after {
            background-color: #fa0;
          }
          td i.fa-circle {
            color: #fa0;
          }
        }
        &.priority-300 {
          td:first-of-type:after {
            background-color: #648bcc;
          }
          td i.fa-circle {
            color: #648bcc;
          }
        }
        &.priority-600 {
          td:first-of-type:after {
            background-color: #84cca4;
          }
          td i.fa-circle {
            color: #84cca4;
          }
        }
      }
    }
  }
  .open {
    text-align: right;
    padding: 20px 0;
    cursor: pointer;
    i {
      font-size: 40px;
      color: #d6a8b7;
      transform: scale(1);
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
