$main-color: #306bf3;

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d2d8ec;
}
.wrap {
  width: 800px;
  // margin: auto;
  display: flex;
  background-color: #fff;
}

.login-part {
  position: relative;

  box-sizing: border-box;
  width: 400px;

  padding: 40px 60px;
  margin: 40px 0;

  display: flex;
  flex-direction: column;
  text-align: center;
  a {
    text-decoration: none;
    color: $main-color;
    padding-left: 5px;
    transition: color 0.2s ease-in;
    &:hover {
      color: #9ebafd;
    }
  }

  button {
    border: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    transition: background-color 0.3s ease-in-out, color 0.2s ease;
    &[type='submit'] {
      background-color: #333;
      color: #ccc;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #9ebafd;
      color: #fff;
    }
  }
  label {
    padding: 5px 0;
    text-align: left;
  }
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
  }
  #google-link {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 20px;
      padding-right: 5px;
    }
  }

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    .option-checkbox {
      display: flex;
      align-items: center;
      input {
        margin: 0;
        margin-right: 10px;
      }
    }
  }
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.intro-part {
  box-sizing: border-box;

  width: 400px;
  margin: 40px 0;
  padding: 20px;
  .introBox {
    padding: 20px;
    padding-left: 50px;
  }
  i {
    float: left;
    color: $main-color;
    text-indent: -35px;
    line-height: 20px;
  }
  p {
    padding: 10px 0;
    line-height: 30px;
  }
}
